@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#editor {
  border: 1px solid #eee;
  height: 100%;
}

html, body {
  background:#333;
  font-family: 'Roboto', sans-serif;
  height:100%;
}

#pageDisplay div {
  display:flex;
  height:100%;
  justify-content: center;
}

#pageDisplay button {
  width:120px;
  height:40px;
}

.resizer {
    cursor: move;
    position: relative;
    display:flex;
    background: #963beb;
    width:6px;
    z-index:10;
}

.Sidebar {
  position: relative;
  background-color: #333;
  width: 60px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  -webkit-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
  display: flex;
}

.Sidebar-Icon {
  padding: 0;
}

.Sidebar-Icon li {
  list-style-type: none;
}

.Sidebar-Icon img {
  width: 80%;
  margin: 10px 5px;
}

.Sidebar-Icon img:hover {
  filter: brightness(65%);
}

.topbarButton {
  background: #963beb;
  border: 1px solid #963beb;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  margin: 5px;
  min-height: 35px;
  outline: 0;
  padding: 2px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.topbarButton:hover,
.topbarButton:active {
  filter: brightness(65%);
  background-position: 0 0;
}

.topbarButton:hover {
  background: transparent;
}

.topbarButton:active {
  opacity: .5;
}