@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');

html, body {
  background:#333;
  font-family: 'Roboto', sans-serif;
  height:99%;
}

.resizer {
    cursor: move;
    position: relative;
    display:flex;
    background: #76F935;
    width:5px;
    margin-top:39px;
    z-index:10;
}

.navbar {
	list-style: none;
	margin: 0;
	position: relative;
  height: auto;
  z-index:1;
  
}

.navbar-item {
	float: left;
	font-weight: bold;
	color: black;
	padding: 10px 40px;
	position: relative;
	cursor: pointer;
	margin-left: -1px;
		
}

.navbar-item::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #76F935;
  z-index: -1;
  transform: skew(-45deg);
  transition: all .2s linear;
  
}
		
.navbar-item:hover::after {
  background-color: darken(#76F935, 20%);
  
}

#editor {
  border: 1px solid #eee;
  height: 100%;
}